$bgColorBig: #c9d6ea;
$bgColorSmall: #becbdd;
$linksColor: black;
$linkVisited: #515b5b;
$linkHover: #4f8da3;

body {
    background-color: $bgColorBig;
}

// TODO change title to boostrap
h1 {
    text-align: center;
}
// TODO what is this ?
h3 {
    display: inline;
    padding: 7px;
}

// links
a {
    text-decoration: none;
}
a:link {
    color: $linksColor;
}
a:visited {
    color: $linkVisited;
}
a:hover {
    color: $linkHover;
}

img {
    width: 100%;
}

// TODO what is this
iframe {
    width: 100%;
    height: 100%;
}

.boldText {
    font-weight: bold;
}

// TODO is this necesarrly or can boostrap it ?
.textContent {
    margin: 10px;
}
.midsectionContainer {
    margin: 10px;
}

#choicesList {
    font-size: 1.2em;
    font-weight: bold;
}

#footerIndex {
    font-weight: bold;
    font-size: 1.2em;
}

// media events
// small devices
@media only screen and (max-width: 600px) {
    body {
        background-color: $bgColorSmall;
    }

    #footerIndex::before {
        content: "Life is strange is available for mobile '<a href=https://play.google.com/store/apps/details?id=com.squareenix.lis'>Play Store</a> and <a href='https://itunes.apple.com/us/app/life-is-strange/id1180101534?mt=8'>App Store</a>";
    }

    h1 {
        text-align: left;
    }
}
// large devices
@media only screen and (min-width: 601px) {
    body {
        background-color: $bgColorBig;
    }

    #footerIndex::before {
        content: "Life is strange is available on PC at <a href='https://store.steampowered.com/app/319630/Life_is_Strange__Episode_1/'>Steam</a>";
    }

    h1 {
        text-align: left;
    }
}